.btn{
	.transition(0.2s);
	.border-radius(3px);
	.fh!important;
	margin: 0;
	padding: 0 25px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 22px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c3;
	&:hover{
		background: darken(@c3,10%);
	}
}
.btn-lg {
	height: 65px;
	line-height: 65px;
	padding: 0 60px;
	font-size: 27px;
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@cl,10%);
		}
	}
}