body {
	@media @sm, @xs {
		background-image: none;
	}
}
.img-left {
	float: left;
	margin: 0 25px 10px 0;
}
.img-right {
	float: right;
	margin: 0 10px 25px 10px;
}
#page-header {
	.logo {
		.fh;
		float: left;
		margin: 48px 0 50px;
		width: 500px;
		@media @sm {
			margin: 30px 0;
		}
		@media @xs {
			float: none;
			width: auto;
			margin: 20px 0;
		}
		a {
			display: block;
			padding: 0 0 0 170px;
			font-weight: 300;
			text-decoration: none;
			font-size: 28px;
			line-height: 1.1;
			min-height: 112px;
			background: url(../images/logo/01.png) no-repeat;
			@media @xs {
				padding: 130px 0 0;
				text-align: center;
				background-position: center top;
			}
			mark {
				display: block;
				font-weight: 600;
				color: @c2;
				font-size: 32px;
				margin: 0 0 8px;
			}
		}
	}
}
#col-main {
	position: relative;
	z-index: 1;
	width: 70%;
	float: left;
	margin: 65px 0;
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
#col-left {
	position: relative;
	z-index: 1;
	width: 30%;
	padding: 0 0 0 70px;
	float: left;
	margin: 65px 0;
	@media @sm, @xs {
		float: none;
		width: auto;
		padding: 0;
	}
}
.menu_lang {
	float: right;
	margin: 40px 25px 40px 0;
	@media @xs {
		float: none;
		text-align: center;
		margin: 0 -20px;
		padding: 10px 0 0;
		border-top: 3px solid @c4;
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 19px;
			line-height: 1.2;
			margin: 0 0 0 16px;
			@media @xs {
				display: inline-block;
				float: none;
				margin: 0 8px;
			}
			&.on {
				a {
					color: @c2;
				}
			}
			a {
				color: @c3;
				text-decoration: none;
				&:hover{
					color: @c2;
				}
			}
		}
	}
}
.box_search {
	position: relative;
	float: right;
	border-right: 5px solid @c4;
	margin: 30px 0;
	@media @xs {
		float: none;
		border-right: none;
	}
	.toggle {
		background: none;
		color: @c2;
		height: 42px;
		line-height: 42px;
		font-size: 0;
		padding: 0 18px;
		@media @xs {
			display: none;
		}
		&:before{
			.fi;
			content: '\e808';
			font-size: 30px;
			.box_search-on & {
				content: '\e807';
				font-size: 40px;
				color: darken(red,10);
			}
		}
	}
	form {
		display: none;
		position: absolute;
		right: 100%;
		top: -8px;
		width: 256px;
		padding: 5px;
		background: @c4;
		@media @xs {
			display: block;
			position: static;
			margin: 0 auto;
		}
		.box_search-on & {
			display: block;
		}
		input[type="text"], input[type="search"] {
			float: left;
			width: 200px;
			border: 0;
		}
		button {
			padding: 0;
			font-size: 0;
			width: 46px;
			&:before{
				.fi;
				font-size: 20px;
				content: '\e808';
			}
		}
	}
}
#mainmenu {
	position: relative;
	z-index: 99;
	background: @c2;
}
.menu_main {
	@media @xs {
		margin: 0 -20px;
	}
	.toggle {
		display: none;
		@media @sm, @xs {
			.fh;
			text-transform: uppercase;
			font-size: 28px;
			display: block;
			width: 100%;
			&:before{
				.fi;
				content: '\e819';
				margin: 0 10px 0 0;
				font-size: 32px;
			}
		}
	}
	&>ul {
		.rul;
		display: table;
		width: 100%;
		@media @sm, @xs {
			display: none;
			margin: 20px 0;
			.menu_main-on & {
				display: block;
			}
		}
		&>li {
			.rli;
			display: table-cell;
			text-align: center;
			border-left: 1px solid #fff;
			background: @c2;
			@media @sm, @xs {
				display: block;
				border-left: none;
				border-bottom: 1px solid #fff;
			}
			&:hover{
				background: darken(@c2,8);
				&>ul {
					display: block;
				}
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				ul {
					left: auto;
					right: 0;
					li {
						ul {
							left: auto;
							right: 100%;
						}
					}
				}
			}
			&.on {
				background: darken(@c2,8);
			}
			&>a {
				.fh;
				display: block;
				color: #fff;
				font-size: 22px;
				line-height: 1.2;
				padding: 16px 10px 13px;
				text-transform: uppercase;
				text-decoration: none;
			}
			ul {
				.rul;
				display: none;
				position: absolute;
				left: 0;
				top: 100%;
				min-width: 260px;
				text-align: left;
				padding: 12px 0 18px;
				background: @c2;
				background: fade(@c2,88);
				@media @sm, @xs {
					position: static;
					display: block;
					text-align: center;
				}
				li {
					.rli;
					@media @sm, @xs {
						display: inline;
					}
					&.has-ul {
						&>a {
							&:before{
								.fi;
								content: '\e816';
								float: right;
							}
						}
					}
					a {
						display: block;
						color: #fff;
						text-decoration: none;
						padding: 9px 20px 9px 30px;
						font-size: 17px;
						line-height: 1.2;
						@media @sm, @xs {
							display: inline-block;
						}
						&:hover{
							background: @c2;
						}
					}
					&.on {
						a {
							background: @c3;
						}
					}
					&:hover{
						ul {
							display: block;
						}
					}
					ul {
						left: 100%;
						top: 0;
						padding: 0;
						background: fade(@c2,80);
					}
				}
			}
		}
	}
}
.news_items {
	.item {
		position: relative;
		padding: 0 0 0 95px;
		margin: 0 0 57px;
		@media @xs {
			padding-left: 70px;
		}
		&.main {
			padding-left: 0;
			margin: 0 0 83px;
			figure {
				margin: -25px 50px 15px 0;
				@media @sm, @xs {
					margin-top: 0;
					margin-right: 30px;
				}
			}
			h2 {
				font-size: 45px;
				line-height: 1.1;
				@media @xs {
					font-size: 36px;
				}
			}
			.date {
				position: static;
				display: inline-block;
				padding: 0 0 6px;
				margin: 0 0 14px;
				border-bottom: 3px solid @c4;
				mark {
					display: inline;
					margin: 0;
					padding: 0;
					border: 0;
					&:before{
						content: '/';
					}
				}
			}
		}
		figure {
			float: left;
			width: 33.3333%;
			margin: 0 30px 10px 0;
			a {
				img {
					.border-radius(6px);
				}
			}
		}
		h2 {
			font-size: 30px;
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.date {
			.fh;
			position: absolute;
			top: 4px;
			left: 0;
			color: @c3;
			font-weight: 600;
			mark {
				display: block;
				margin: 6px 0 0;
				padding: 6px 0 0;
				color: @c3;
				border-top: 5px solid @c4;
			}
		}
	}
	nav {
		margin: -12px 0 0;
		padding: 0 0 0 95px;
		a {
			.fh;
			display: inline-block;
			position: relative;
			padding: 0 0 0 18px;
			color: @c3;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e80b';
				position: absolute;
				top: 4px;
				left: 0;
				font-weight: normal;
				font-size: 13px;
				line-height: 1;
			}
		}
	}
}
.menu_side {
	margin: 0 0 65px;
	ul {
		.rul;
		@media @sm {
			text-align: center;
		}
		li {
			.rli;
			margin: 0 0 10px;
			@media @sm {
				display: inline-block;
			}
			a {
				.fh;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				padding: 10px 20px 10px 47px;
				font-weight: 600;
				font-size: 20px;
				line-height: 1.2;
				@media @sm, @xs {
					padding-left: 0;
					padding-right: 40px;
				}
				@media @xs {
					display: block;
					text-align: right;
				}
				&:hover{
					color: @c3;
				}
				&:before{
					.fi;
					content: '\e80d';
					line-height: 1;
					font-size: 52px;
					position: absolute;
					top: 50%;
					left: -16px;
					font-weight: normal;
					margin: -26px 0 0;
					@media @sm, @xs {
						left: auto;
						right: 0;
						font-size: 36px;
						content: '\e811';
						margin: -18px 0 0;
					}
				}
			}
		}
	}
}
.box_calc {
	.border-radius(300px);
	position: relative;
	padding: 70px 85px 70px;
	margin: 0 -40px 75px;
	background: @c4;
	@media @md {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media @sm {
		margin-left: 0;
		margin-right: 0;
	}
	@media @xs {
		.border-radius(0);
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&:before{
		.fi;
		.border-radius(50%);
		content: '\e812';
		position: absolute;
		top: -40px;
		left: 14px;
		font-size: 56px;
		width: 104px;
		height: 104px;
		line-height: 104px;
		text-align: center;
		color: @c2;
		background: #fff;
		@media @xs {
			left: 50%;
			margin: 0 0 0 -52px;
		}
	}
	.title {
		.fh;
		color: @c2;
		font-size: 32px;
		line-height: 1.1;
		margin: 0 0 12px;
	}
	.calc_row {
		margin: 0 0 7px;
		.input {
			display: inline-block;
			width: 56%;
			vertical-align: middle;
			margin: 0 -4px 0 0;
			@media @xs {
				margin: 0;
				display: block;
				width: auto;
			}
		}
		input[type="text"] {
			.border-radius(4px);
			border-top-color: @c3;
			border-left-color: @c3;
			border-bottom-color: #fff;
			border-right-color: #fff;
			height: 34px;
			padding: 0 8px;
		}
		label {
			display: inline-block;
			width: 44%;
			vertical-align: middle;
			margin: 0 -4px 0 0;
			font-size: 14px;
			line-height: 1.2;
			padding: 0 0 0 14px;
			@media @xs {
				display: block;
				width: auto;
				margin: 4px 0 20px;
				padding: 0;
			}
		}
	}
}
.box_banner {
	.item {
		.clearfix;
		margin: 0 0 30px;
		@media @sm {
			display: inline-block;
			width: 50%;
			margin-right: -4px;
			padding: 0 40px 0 0;
		}
		figure {
			float: left;
			width: 36%;
			@media @md, @xs {
				float: none;
				width: auto;
				margin: 0 0 10px;
			}
			a {
				img {
					display: block;
				}
			}
		}
		.content {
			float: left;
			width: 64%;
			padding: 0 0 0 20px;
			@media @md, @xs {
				width: auto;
				padding: 0;
			}
		}
		h2 {
			font-size: 21px;
			color: @c2;
			margin: 0 0 10px;
			mark {
				color: @c2;
				font-weight: 600;
			}
		}
		nav {
			a {
				position: relative;
				display: inline-block;
				color: @c3;
				padding: 0 0 0 18px;
				text-decoration: none;
				font-size: 16px;
				line-height: 1.4;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					content: '\e80b';
					position: absolute;
					left: 2px;
					top: 4px;
					font-size: 13px;
					line-height: 1;
				}
			}
		}
	}
}
.box_events {
	clear: both;
	position: relative;
	background: @c4;
	overflow: hidden;
	top: -110px;
	margin:  0 0 -110px;
	padding: 225px 0 50px;
	background: @c4 url(../images/bg/02.png) no-repeat right bottom;
	@media @sm, @xs {
		background-image: none;
	}
	&:before{
		content: '';
		position: absolute;
		.border-radius(4000px);
		left: 50%;
		bottom: 100%;
		width: 8000px;
		height: 8000px;
		margin: 0 0 -150px -4000px;
		background: #fff;
	}
	.container {
		text-align: center;
	}
	.title {
		.fh;
		display: inline-block;
		position: relative;
		font-size: 32px;
		line-height: 1.2;
		color: @c2;
		font-weight: 700;
		padding: 0 0 20px;
		margin: 0 0 75px;
		text-transform: uppercase;
		&:before{
			position: absolute;
			content: '';
			bottom: 0;
			left: 33%;
			right: 33%;
			height: 3px;
			background: fade(@c3,30);
		}
	}
	.items {
		margin: 0 -45px;
		@media @md {
			margin: 0 15px;
		}
		.item {
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -2px 50px;
			padding: 0 45px;
			text-align: left;
			@media @md {
				padding: 0 15px;
			}
			@media @sm, @xs {
				width: 100%;
			}
			.meta {
				position: relative;
				padding: 0 0 18px 60px;
				margin: 0 0 20px;
				border-bottom: 1px solid fade(#000,10);
				&:before{
					.fi;
					content: '\e80e';
					position: absolute;
					left: 1px;
					top: 5px;
					font-size: 42px;
					line-height: 1;
					color: @c2;
				}
				.date {
					.fh;
					font-size: 24px;
					line-height: 1.1;
					color: @c3;
					margin: 0 0 5px;
					@media @md {
						font-size: 20px;
					}
				}
				.location {
					font-size: 20px;
					line-height: 1.2;
					color: #666;
					@media @md {
						font-size: 16px;
					}
				}
			}
			h2 {
				font-size: 26px;
				a {
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.box_partners {
	position: relative;
	padding: 70px 0 75px;
	overflow: hidden;
	.container {
		text-align: center;
	}
	.title {
		.fh;
		display: inline-block;
		position: relative;
		font-size: 32px;
		line-height: 1.2;
		color: @c2;
		font-weight: 700;
		padding: 0 0 20px;
		margin: 0 0 55px;
		text-transform: uppercase;
		&:before{
			position: absolute;
			content: '';
			bottom: 0;
			left: 20%;
			right: 20%;
			height: 3px;
			background: fade(@c3,30);
		}
	}
	ul {
		.rul;
		margin: 0 -40px;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			margin: 0 35px 20px;
		}
	}
}
.box_contact {
	position: relative;
	color: #fff;
	&:before{
		.fi;
		.border-radius(50%);
		content: '\e80f';
		position: absolute;
		z-index: 2;
		left: 50%;
		margin: 0 0 0 -@content-width/2+20;
		top: -48px;
		width: 104px;
		height: 104px;
		line-height: 104px;
		font-size: 48px;
		color: @c2;
		text-align: center;
		background: #fff;
		@media @sm, @xs {
			position: relative;
			left: 0;
			top: 0;
			display: block;
			margin: 0;
			background: @c2;
			color: #fff;
			margin: 0 auto -50px;
		}
	}
	a {
		color: @c4;
	}
	.inner {
		background: @c2;
		overflow: hidden;
	}
	.content {
		position: relative;
		float: left;
		width: 64%;
		padding: 50px 0 30px;
		@media @sm, @xs {
			.clearfix;
			width: auto;
			float: none;
		}
		&:before{
			.border-radius(50%);
			content: '';
			position: absolute;
			width: 760px;
			height: 760px;
			top: -180px;
			left: 50%;
			margin: 0 0 0 -380px;
			background: #114091;
			@media @sm, @xs {
				display: none;
			}
		}
	}
	.address {
		position: relative;
		z-index: 1;
		width: 57%;
		float: left;
		padding: 0 20px 0 120px;
		font-size: 17px;
		@media @md {
			padding-left: 40px;
		}
		@media @sm {
			padding: 0 15px 0 0;
			text-align: right;
			width: 50%;
		}
		@media @xs {
			padding: 0;
			width: auto;
			float: none;
			text-align: center;
		}
		.title {
			.fh;
			font-size: 21px;
			line-height: 1.2;
			margin: 0 0 10px;
		}
	}
	.contact {
		position: relative;
		z-index: 1;
		width: 43%;
		float: left;
		@media @sm {
			width: 50%;
			padding: 0 0 0 15px;
		}
		@media @xs {
			width: auto;
			float: none;
			text-align: center;
		}
		.phone {
			.fh;
			font-size: 46px;
			line-height: 1.1;
			margin: 4px 0;
		}
		.email {
			font-size: 23px;
			line-height: 1.1;
		}
	}
	.member {
		position: relative;
		float: right;
		width: 25%;
		padding: 40px 0 20px;
		@media @sm, @xs {
			width: auto;
			float: none;
			clear: both;
			padding: 70px 0 40px;
		}
		.title {
			.fh;
			position: relative;
			padding: 0 0 0 85px;
			margin: 0 0 12px;
			font-size: 30px;
			line-height: 1.1;
			@media @sm {
				position: static;
				float: left;
				width: 50%;
				text-align: right;
				padding: 0 15px 0 0;
			}
			@media @xs {
				position: static;
				padding: 0;
				text-align: center;
			}
			&:before{
				.fi;
				content: '\e810';
				position: absolute;
				left: -3px;
				top: -5px;
				color: @c3;
				font-size: 68px;
				line-height: 1;
				@media @sm, @xs {
					position: absolute;
					top: 0;
					left: 50%;
					margin: 0 0 0 -35px;
				}
			}
		}
		nav {
			position: relative;
			padding: 0 0 0 14px;
			@media @sm {
				float: right;
				width: 50%;
				margin: 5px 0;
			}
			@media @xs {
				text-align: center;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					content: '\e80b';
					position: absolute;
					left: 0;
					top: 6px;
					font-size: 13px;
					line-height: 1;
					@media @xs {
						display: none;
					}
				}
			}
		}
	}
}
#page-footer {
	padding: 45px 0;
	font-size: 14px;
	color: #fff;
	background: #415690;
	a {
		color: #fff;
	}
	.copy {
		float: left;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
	}
	.update {
		float: right;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
	}
}
.breadcrumbs {
	margin: -20px 0 25px 0;
	ul {
		.rul;
		li {
			display: inline-block;
			vertical-align: middle;
			color: @c3;
			font-size: 15px;
			margin: 0 8px 0 0;
			&:before{
				color: @c1;
			}
			&.home {
				padding-left: 0;
				margin-right: 6px;
				&:before{
					display: none;
				}
				a {
					font-size: 0;
					color: @c2;
					&:hover{
						text-decoration: none;
						color: @c3;
					}
					&:before{
						.fi;
						content: '\e813';
						font-size: 20px;
					}
				}
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.pagination {
	margin: 50px 0 20px;
	border-top: 1px solid lighten(@c1,85);
	ul {
		.rul;
		margin: 20px 0;
		li {
			.rli;
			.fh;
			display: inline-block;
			vertical-align: middle;
			color: @c3;
			font-size: 35px;
			margin: 0 10px;
			&.prev, &.next {
				a {
					font-size: 0;
					&:before{
						.fi;
						content: '\e815';
						font-size: 35px;
					}
				}
			}
			&.next {
				a {
					&:before{
						content: '\e816';
					}
				}
			}
			a {
				text-decoration: none;
				font-size: 28px;
				color: lighten(@c1,40);
				&:hover{
					color: @c3;
				}
			}
		}
	}
}













